body {
  margin: 0;
}

header .contenedor {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 90%;
  margin: auto;
  font-size: 15px;
}

header .lista-menu {
  display: flex;
}
header ul li {
  list-style: none;
  margin-right: 15px;
}

header a {
  text-decoration: none;
}

header {
  background: linear-gradient(rgba(84, 93, 220, 0.9), rgba(96, 171, 245, 0.9)),
    url(./../Imagenes/fondo.jpg);
  height: 100vh;
  background-size: contain;
}

#contenedor-titulo-flex {
  display: flex;
  justify-content: center;
  margin: 18vh 0;
  max-width: 1580px;
  width: 100%;
}
h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: 'Bungee Shade', cursive;
  margin: 0;
}

h2 {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Megrim', cursive;
  text-align: center;
}

.contenedor-titulo {
  text-align: center;
}

.contenedor-titulo a,
#sobre-mi a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  background: #5cb8ff;
  padding: 14px 24px;
  width: 128px;
  display: inline-block;
}

p.logo {
  color: #ffffff;
  font-size: 20px;
}

nav ul li a {
  color: #ffffff;
}

/*Sección sobre mi*/

h3 {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Bungee Shade', cursive;
}

#sobre-mi .contenedor-sobremi {
  display: flex;
  justify-content: space-around;
}
#sobre-mi .imagen-sobremi {
  width: 40%;
}
#sobre-mi .texto {
  width: 42%;
  font-family: 'Open Sans', sans-serif;
}

/*Sección servicios*/

.contenedor-servicios {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.servicio #wordpress-logo {
  width: 40px;
  height: 40px;
}
.servicio #npm-logo {
  height: 32px;
  width: 70px;
}

.servicio {
  width: 24%;
  padding: 34px 30px 38px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.servicio h4 {
  font-size: 30px;
  margin: 0;
}

.servicio p {
  margin-bottom: 20px;
  height: 194px;
}

.contenedor-servicios .card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  box-shadow: 0 12px 30px 0 rgba(80, 85, 223, 0.37);
  font-family: 'Open Sans', sans-serif;
  /* font-weight: bold; */
}
.contenedor-servicios .card1 h4,
.card2 h4,
.card3 h4,
.card4 h4,
.card5 h4,
.card6 h4 {
  color: orangered;
}
.contenedor-servicios .card1 p,
.card2 p,
.card3 p,
.card4 p,
.card5 p,
.card6 p {
  color: white;
  font-size: 16px;
}

.contenedor-servicios .card1 {
  background: url(./../Imagenes/card6.jpg);
  background-size: cover;
}
.contenedor-servicios .card2 {
  background: url(./../Imagenes/card4.jpg);
  background-size: cover;
}
.contenedor-servicios .card3 {
  background: url(./../Imagenes/card6.jpg);
  background-size: cover;
}
.contenedor-servicios .card4 {
  background: url(./../Imagenes/card4.jpg);
  background-size: cover;
}
.contenedor-servicios .card5 {
  background: url(./../Imagenes/card6.jpg);
  background-size: cover;
}
.contenedor-servicios .card6 {
  background: url(./../Imagenes/card4.jpg);
  background-size: cover;
}

.icono {
  float: right;
}
